@inject NavigationManager Navigation
@rendermode InteractiveServer

<div>
    <select @bind="Culture">
        <option value="en-US">English</option>
        <option value="de-DE">German</option>
    </select>
</div>